.title-workshop {
    position: relative;
  }
  .whatapp-btn{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #128c7e;
    color: white;
    font-weight: 500;
    text-decoration: none;
    border-radius: 25px;
    border: 1px solid transparent;
    transition: all .5s ease-in-out;
  }
  .whatapp-btn-about{
    display: inline;
    align-items: center;
    padding: 10px 12px;
    font-size: 14px;
    background-color: #128c7e00;

    font-weight: 300;
    text-decoration: none;
    border-radius:4px;
    max-width: 50%;
    border: 1px solid #128c7e;
    color: #128c7e;;
    margin-top: 10px;
  
    transition: all .5s ease-in-out;
  }

  .whatapp-btn:hover{
    border: 1px solid #128c7e;
    color: white;
    background-color: #128c7e;
  
  }
  .whatapp-btn-about:hover{
    color: white;
    background-color: #128c7e00;
    background-color: #128c7e;
  }


  .title-workshop::before,
  .title-workshop::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 60px;
    border-radius: 25px;
    height: 4px;
    background-color: rgb(161, 93, 224);
  }
  .w-70{
    max-width: 75%;
  }
  .title-workshop::before {
    left: -80px;
  }
  
  .title-workshop::after {
    right: -80px;
  }
  
  @media (max-width:768px) {
    .title-workshop::before,
  .title-workshop::after {
    width: 0px;
  }
  .w-70{
    max-width: 100%;
  }
  }