.services{
    padding: 2rem 1rem;
    max-width: 100%;
  }
  
  .card-button { 
    color: black;
    border: 1px solid rgb(255,82,161);
    background-color:var(--e-global-color-accent);

    border-radius: 3px;
    padding: 6px 35px;
  
  
    transition: all 0.3s;
  }
  .card-button:hover {
    background-color:   rgb(255,82,161);
    color: black;
  }
  .card{
    border: none;
    border-radius: 10px;
    box-shadow: 0px 10px 10px 10px rgba(160, 160, 160, 0.274);
    transition: all .5s ease-in-out;
  }

 
  
  .card-button:hover::before {
    left: 0;
  }
  

  .max-height{
    min-height: 400px;
    max-width: 90%;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  @keyframes left-top-right-bottom-text {
    0% {
      text-shadow: -15px -15px 13px rgba(209, 206, 206, 0.952); 
    }
    25% {
      text-shadow: 15px -15px 13px rgba(209, 206, 206, 0.952); 
    }
    50% {
      text-shadow: 15px 15px 13px rgba(209, 206, 206, 0.952);  
    }
    75% {
      text-shadow: -15px 15px 13px rgba(209, 206, 206, 0.952); 
    }
    100% {
      text-shadow: -15px -15px 13px rgba(209, 206, 206, 0.952); 
    }
  }
  
  
  
  
  
  
  
  
  