.title-training {
    position: relative;
 
    font-size: 2.7rem;
  }
  .primary-pinki{
    color:  rgb(255,82,161);
  }
  .title-training::before,
  .title-training::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 60px;
    border-radius: 25px;
    height: 4px;
    background-color: rgb(161, 93, 224);
  }
  
  .title-training::before {
    left: -80px;
  }
  
  .title-training::after {
    right: -80px;
  }
  @media (max-width:992px) {
   
  .title-training {
    position: relative;
  
    font-size: 2rem;
  }
  }
  @media (max-width:768px) {
    .title-training::before,
  .title-training::after {
    width: 0px;
  }
  .title-training {
    position: relative;
  
    font-size: 1rem;
  }
  }