.header-absolute{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    position: sticky;
    top: 0px;
    background-color: #f3f1f179;
    box-shadow: 0px 4px 15px 4px #41414136;
}


nav span{
    margin-left: 1rem;
}

  .header-burger{
    cursor: pointer;
    transition: all .2s ease-in-out;
    background-color: #fdfdfd00;
    border-radius: 1.5px;
    display: none;
   }
   nav span a{
    color: black;
    text-decoration: none;
    font-weight: var(--font-weight400);
    transition: all .5s ease-in-out;
   }
  
   .header-burger{
    
    display: none;
   }
 


@media (max-width:768px) {
    nav{
        z-index: 1000;
        position: absolute;
        left: 0;
        top: 61px;
         display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: column;
         background-color: #f3f1f179;
         width: 100%;
        margin: 0px !important;
        padding: 0px !important;
        height: 200px;
        overflow-x: hidden;
        white-space: nowrap; 
       opacity: 0;
        transition: all .4s cubic-bezier(0, 0.83, 1, 1.03);   
    }
    .heigh{
        opacity: 1;
          transition: all .5s ease-in-out;
    }
    nav span{
        margin-top: 10px;
    }
 
     
       .header-burger{
    
        display: block;
       }
     
    
    /* Additional styles for active link */
   
      
    
}