.header-sticky{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    position: sticky;
    top: 0px;
    z-index: 10000;
    background-color: rgb(255,82,161);  
}

nav span{
    margin-left: 14px;
   
}
nav span a {
    color: var( --text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0px;
    font-weight: 500;
    font-style: normal;
    padding: 10px 10px;
    margin: 0;
    transition: color .5s ease-in;
    position: relative;
}
.brand-text {
    font-size: 18px; /* Adjust font size as needed */
    font-weight: bold;
    color: white; /* Adjust text color as needed */
    margin-left: 5px; /* Add some spacing between image and text */
    vertical-align: middle; /* Vertically align the text with the image */
  }
  .navbar-brand{
    font-size:1.4rem;
  }
.brandimg {
    width: 80px;
    height: auto;
  }
nav span a::before {
    content: '';
    position: absolute;
    bottom: -2px; 
    left: 0;
    width: 0%;
    height: 3px;
    margin-top: 5px;
    border-radius: 2px; 
    background-color: var(--e-global-color-accent);
    opacity: 1;
    transition: all .5s ease-in-out; 
    max-width: 100%;
  }
 
  nav span a:hover::before {
  
    width: 100%;
  }
nav span a:hover {
  
    font-weight: 500;
    color: var(--e-global-color-accent);
}

nav{
    margin-right: 2rem;
}
@media (max-width:844px) {
    .pos-rel{
        position: relative;
        top: 5px;
       
     }
    .brandimg {
        width: 60px;
        height: auto;
      }
    nav{
        z-index: 1000;
        position: absolute;
        left: 0;
      
        top: 65px;
         display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: column;
        background-color:rgb(255,82,161); 
        width: 100%;
        margin: 0px !important;
        padding: 0px !important;
        height: 0px;
        overflow-y: hidden;
        transition: all .5s cubic-bezier(0.26,-0.37, 0.19, 0.91); 
    }

    .heigh{
        height: 200px;
          transition: all .5s ease-in-out;
    }
    nav span{
        margin-top: 5px;
    }
   .header-burger{
    cursor: pointer;
   }

    
}