input[type=text],input[type=email], select, textarea {
  padding: 10px;
  margin-top: 8px;
  width: 100%;
  outline: none;
  border: 2px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  color: var(--title-color);
  transition: all .5s ease-in-out;
}

textarea:hover{
 border-color:var(--e-global-color-accent);
}
.contact{
  max-width: 100%;
}
input[type=submit] {
  background-color:var(--title-color);
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color:rgba(20, 41, 89, 0.596);
}
input[type=text]:hover {
 border-color:var(--e-global-color-accent);
}
input[type=email]:hover {
  border-color:var(--e-global-color-accent);
}


.pad-adjustment{
  padding: 2rem 1rem;
}

@media (max-width:768px) {
  .pad-adjustment{
    padding: 2rem 10px;
  }
}