
.slider{
    width: 100%;
    height: 400px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    overflow-x: scroll;
}
.carousel {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel-inner{
    width: 60%;
}
.review-img{
    width: 50px;
    border-radius: 50px;
}
.review-user{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.card-text{
    height:200px; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
}
.reviewCard{
    min-width: 60%;
    height:300px;
    padding: 10px;
    text-align: center;
   font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px ;
     margin: 0px 10px;
     user-select: none;
    background-color:  rgba(255, 82, 160, 0.37);;
}
.slider::-webkit-scrollbar {
    width: 10px; /* Adjust the width as needed */
    opacity: 0;
  }
  
  /* Style the scrollbar track (the background) for the .slider class */
  .slider::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Style the scrollbar thumb (the draggable part) for the .slider class */
  .slider::-webkit-scrollbar-thumb {
    background: transparent;
  }
  
  
  
  
  @media (max-width:768px)
  {
    .reviewCard{
        min-width: 95%;
        height:400px;
      
    }
    .slider{
        width: 100%;
        height: 500px;
        position: relative;
      
    
    }
  
    .card-text{
        height:200px; 
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.1rem;
    }
    .carousel-inner{
        width: 90%;
    }
    .carousel-control-prev{
    
        left: -10px;
      
    }
    .carousel-control-next{
    
        right: -10px;
      
    }
  }
  