@font-face {
  font-family: "muskan";
  src: url(./Assets/Fonts/Runalto.woff);
}
*{
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Serif','Roboto', 'Oxygen','Segoe UI',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
