:root{
    --font-weight400:400;
    --font-weight500:500;
    --font-weight600:600;
    --font-sizebrand:2rem;
    --font-brand:"muskan";
    --title-color:rgb(59, 59, 59);
    --text-color:rgb(73, 73, 73);
    
}

.brand{ 
    font-weight: var(--font-weight600);
    font-size: var(--font-sizebrand);
    font-family: var(--font-brand);
    color:var(--title-color) ;
    transition: all .5s ease-in-out;
}
.bold{
    font-weight: 500;
}
.para-brand{
font-size: 16px;
font-family: "roboto";
}
.font-size-brand{
    font-size: 3rem;
    color:#e94467;
    text-shadow:  10px 10px 10px black;
}
.anchor{
    text-decoration: none;
   
    font: 16px;
    font-weight: 400;
 }
.brand1{ 
    font-weight: var(--font-weight600);
    font-size: 2.2rem;
    font-family: var(--font-brand);
    color:var(--title-color) ;
    transition: all .5s ease-in-out;
}
