:root{
    --font-weight400:400;
    --font-weight500:500;
    --font-weight600:600;
    --font-sizebrand:2rem;
    --font-brand:"muskan";
    --title-color:rgb(20, 41, 89);
    --text-color:rgb(20, 41, 89);
    --text-color-hover:rgb(20, 41, 89);
    --e-global-color-primary: #6EC1E4;
    --e-global-color-secondary: #54595F;
    --e-global-color-text: #7A7A7A;
    --e-global-color-accent: #01BDB2;
    --e-global-typography-primary-font-family: "Roboto";
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-secondary-font-family: "Roboto Slab";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-family: "Roboto";
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-accent-font-family: "Roboto";
    --e-global-typography-accent-font-weight: 500;
    
}
.cardbg{
    background-color: rgba(161, 195, 175, 0.2);
}.cardcontact{
    background-color:var( --e-global-color-accent);
}
.heading{
    color: var( --title-color);

}

.motion {
    width: 7px;
    height: 7px;
    background-color: #01BDB2;
    border-radius: 50%;
    position: absolute;
    transition: all 0.5s; 
  }
.slate{
    color: #54595f93;
}
  .contact-circle{
    padding: 20px;
    border-radius: 50%;
    background-color: var(--title-color);
  }
.brand{ 
    font-weight: var(--font-weight600);
    font-size: var(--font-sizebrand);
    font-family: var(--font-brand);
    color:var(--title-color) ;
    transition: all .5s ease-in-out;
}
.bold{
    font-weight: 500;
}
.slate{
    color: var(--title-color);
}
.para-brand{
font-size: 16px;
font-family: "roboto";
}
.font-size-brand{
    font-size: 3rem;
    color:var(--title-color);
    text-shadow:  10px 10px 10px black;
}
.anchor{
    text-decoration: none;
    font: 18px;
    font-weight: 500;
 }
.brand1{ 
    font-weight:var(--font-weight600);
    font-size: 2.2rem;
    font-family:var(--font-brand);
    color:var(--title-color) ;
    transition: all .5s ease-in-out;
}
